.form.form-horizontal
  .control-group
    %label.control-label{:for => 'catalog_title'} Title:
    .controls
      =text_field :catalog, :title
      %span#title.errors
  .control-group
    %label.control-label{:for => 'catalog_info'} Info:
    .controls
      =text_area :catalog, :info, :rows => 4
