-if user_signed_in?
  .span8.pagination-centered
    .leaderboard
      %h1 Willkommen bei Fassets
      %p
        Wählen Sie einen Catalog aus oder legen Sie einen Katalog an
      =button_to "Create Catalog", new_catalog_path, :remote => true, class: "btn btn-primary btn-large"

  .span4
    %h2 Catalogs
    #catalogs_list
      %ul.collection
        -Catalog.all.each do |catalog|
          %li
            -#=link_to(catalog.title, catalog_path(catalog))
            .content=catalog.info
            =link_to(catalog.title, catalog_path(catalog))
    =button_to "Create Catalog", new_catalog_path, :remote => true, class: "btn"
-else
  .span12.pagination-centered
    .leaderboard
      %img{:rel => "fassets_logo", :src => "#{asset_path('fassets_horizontal_white.png')}", :width => "400px"}