=content_for :h1 do
  #type Catalog
  #name
    =@catalog.title
    -if user_signed_in?
      %span.action
        =link_to image_tag("fassets_core/edit.png"), edit_catalog_path(@catalog)

.span8
  -if @filter.empty?
    %h2 Assets
  -else
    %h2
      Filtered Assets
    #filter
      %ul
        %li.item
          %strong{:class => filter_item.facet.color}="#{filter_item.facet.caption}: #{filter_item.caption}"
          =link_to "drop", catalog_path(@catalog, :filter => @filter.to_query_exclude(filter_item.id))
        =render :partial => "filter_item", :collection => Label.in(@filter)
        %li{:style => "clear:both"}=link_to "clear filter", catalog_path(@catalog), :class => "icon remove"
  %ul#assets
    =render :partial => "shared/asset", :collection => @assets, :locals => {:tp => nil}

.span4
  -if user_signed_in?
    =button_to "Add Facet", :new_facet_path, :remote => true, class: "btn"
    .collapsible
      %h2.title Add Facet
      =form_for [@catalog, Facet.new], :url => catalog_facets_path(@catalog, Facet.new) do |f|
        =render :partial => "facets/form", :object => f
        =submit_tag "Create", class: "btn"
  %ol#facets{"data-update-url" => sort_catalog_facets_url(@catalog)}
    =render :partial => "facet", :collection => @catalog.facets.all(:order => "position ASC")