.form.form-horizontal
  .control-group
    %label.control-label{:for => 'facet_caption'} Facet Caption:
    .controls
      =text_field :facet, :caption
  .control-group
    %label.control-label{:for => 'facet_label_order'} Label Order:
    .controls
      =select(:facet, :label_order, Facet::LABEL_ORDER)
  .control-group
    %label.control-label{:for => 'facet_color'} Color:
    .controls
      =select(:facet, :color, %w(red orange yellow green blue violet gray))
   