.form.form-horizontal
  .control-group
    %label.control-label{:for => 'labeĺ_caption'} Caption:
    .controls
      =text_field :label, :caption
  .control-group
    .controls
      =submit_tag "Create", class: "btn btn-success"