.labels
  %h2.title Labels
  .collapsible
    %h2.title New Label
    =form_for [@catalog, @facet, Label.new] do |f|
      =render :partial => "labels/form", :object => f
      =submit_tag "Create"

  %ol.collection{:class => @facet.label_order == 'position' ? "sortable" : nil, :id => "catalogs.#{@catalog.id}.facets.#{@facet.id}.labels.sort"}
    -@facet.ordered_labels.each do |label|
      %li{:id => "label_#{label.id}"}
        .content
          =best_in_place label, :caption, :path => catalog_facet_label_path(@catalog, @facet, label)
          =button_to "Drop", catalog_facet_label_path(@catalog, @facet, label),
            :confirm => 'Are you sure?',
            :method => "delete",
            :remote => true,
            :disable_with => 'loading...'
