%ul.asset_type_list
  - @asset_types.each do |type|
    %li.asset_type
      .item
        =link_to type[:name].to_s,
                 "#",
                 :class => @selected_type == type[:name] ? "selected" : "",
                 :data => { :asset_type => type[:name]}
