/ %p Bitte geben sie ihre Änderungen an.

.form-container
	=render :partial => "assets/form", :locals => {:new => false}
.form-container
	=render :partial => "assets/classification", :locals => {:asset => @content.asset}
/ .row
/ 	=render :partial => "#{@content.class.to_s.underscore.pluralize}/sidebar"
